*.o
*.dep
*.dep2
*~
*.orig

callgrind.out*
leak.out*
core*

OneLife/gameSource/OneLife
OneLife/gameSource/testUser/*
OneLife/gameSource/testUser2/*
OneLife/gameSource/recordedGames/*
OneLife/gameSource/screenShots/*

OneLife/server/OneLifeServer
OneLife/server/log.txt
OneLife/server/recentPlacements.txt
OneLife/server/*.db
OneLife/server/backups/
OneLife/server/failureLog/
OneLife/server/foodLog/
OneLife/server/lifeLog/
OneLife/server/categories
OneLife/server/objects
OneLife/server/transitions

var/