*.o
*.dep
*.dep2
*~
*.orig

callgrind.out*
leak.out*
core*

#not part of the sources
object/

#temporarly ignored
test/

build/server/Makefile.minorGems_dependencies
build/client/Makefile.minorGems_dependencies
build/tools/Makefile.minorGems_dependencies

src/OneLife/gameSource/log.txt
src/OneLife/gameSource/OneLife
src/OneLife/gameSource/testUser/*
src/OneLife/gameSource/testUser2/*
src/OneLife/gameSource/recordedGames/*
src/OneLife/gameSource/screenShots/*
src/OneLife/gameSource/groundTileCache/*
src/OneLife/gameSource/log.txt.backup
src/OneLife/gameSource/graphics/*
src/OneLife/gameSource/spriteImportCache/

src/OneLife/server/OneLifeServer
src/OneLife/server/log.txt
src/OneLife/server/recentPlacements.txt
OneLife/server/*.db
src/OneLife/server/backups/
src/OneLife/server/failureLog/
src/OneLife/server/foodLog/
src/OneLife/server/lifeLog/
src/OneLife/server/categories
src/OneLife/server/objects
src/OneLife/server/transitions
src/OneLife/server/clientTagLog.txt
src/OneLife/server/lastEveLocation.txt
src/OneLife/server/log.txt.backup
src/OneLife/server/settings
src/OneLife/server/mapChangeLogs
src/OneLife/server/mapDummyRecall.txt
src/OneLife/server/curseLog
src/OneLife/server/curseSave.txt
src/OneLife/server/familyDataLog.txt
src/OneLife/server/myLog.txt

OneLifeData7/

src/third_party/imgui
src/third_party/gl3w

#
var/